{% extends "base.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Módulo Restringido</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <!-- Menú lateral alineado con el contenido -->
    <div class="col-md-3">
      <div class="list-group admin-menu">
        <a href="{{ url_for('admin.tasa_compras') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin.tasa_compras' %}active{% endif %}">
          <i class="fas fa-shopping-cart"></i> Compras BRS
        </a>
        <a href="{{ url_for('admin.ingresar_usdt') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin.ingresar_usdt' %}active{% endif %}">
          <i class="fas fa-dollar-sign"></i> Ingresar Transaccion
        </a>
        <a href="{{ url_for('admin.resumen_compras_usdt') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin.resumen_compras_usdt' %}active{% endif %}">
          <i class="fas fa-list"></i> Transacciones USDT/CLP
        </a>
        <a href="{{ url_for('admin.tasa_actual') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin.tasa_actual' %}active{% endif %}">
          <i class="fas fa-chart-line"></i> Tasa actual
        </a>
        <div class="dropdown-divider"></div>
                  <a href="{{ url_for('admin.configuracion_inicial') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin.configuracion_inicial' %}active{% endif %}">
            <i class="fas fa-cog"></i> Configuración Inicial
          </a>
          <a href="{{ url_for('admin.gestion_superusuarios') }}" class="list-group-item list-group-item-action {% if request.endpoint == 'admin.gestion_superusuarios' %}active{% endif %}">
            <i class="fas fa-crown"></i> Superusuarios
          </a>
      </div>
    </div>

    <!-- Contenido principal -->
    <div class="col-md-9">
      <div class="content-header text-center mb-4">
        <h1 class="text-azul-oscuro">{% block admin_title %}Módulo Restringido{% endblock %}</h1>
      </div>
      <div class="content-body">
        {% block admin_content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}