Flask==3.0.2
Jinja2==3.1.4
Flask-Caching==2.1.0
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.1
pytz==2024.1
pandas==2.1.4
numpy==1.24.4
requests==2.31.0
aiohttp==3.11.18
supabase==2.3.4
pillow==10.2.0
matplotlib==3.8.2
pycryptodome==3.19.1
python-binance==1.0.19
pyTelegramBotAPI==4.15.2